/* Font var */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto&display=swap');

$title_font: 'Roboto', 'sans-serif';
$text_font: 'Montserrat', 'sans-serif';

/* Var Color */
$title_color: #492540;
$text_color: #a3a1a1;
$link_color: #ffbe1a;

/* Brands color */
$color_facebook: #3b5998;
$color_twitter: #00acee;
$color_instagram: #8a3ab9;

/* Opacity */
$opacity_bg: 0.9;
